.app{
  width: 80%;
  margin: 0 auto;
}
nav{
  height: 50px;
  display: flex;
}
nav a{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid aqua;
  color: inherit;
  text-decoration: none;
}
nav a.active{
  background-color: aqua;
  color: #fff;
}